body{
    background-color:#272829 ;
}
#kis01{
    /* border: 1px solid orange; */
    padding-top: 50px;
    height: 635px;
    width: 1380px;
    background-color:  #272829;
}
h1{
    color: white;
    text-align: center;
    /* font-family: sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Montserrat Arial, Helvetica, sans-serif;
}
#kis03{
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}
#kis04{
display: grid;
width: 450px;
row-gap: 15px;
margin-left: 500px;


}
input{
display: block;
height: 45px;
width: 400px;
border: 1px solid rgb(79, 77, 77);
background-color: #272829;
color: rgb(231, 244, 255);
border-radius: 3px;
margin-bottom: 20px;
}
#submit{
background-color: red;
border: none;
display: block;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
font-family: sans-serif;
margin-top: 15px;
}
/* #kis06{
text-align: center;
color: white;
padding-left: 20px;
} */
p{
text-align: center;
justify-content: center;
color: white;
/* padding-left: 20px; */
margin-left: 50px;
}
#kis05{
/* border: 2px solid snow; */
display: block;
height: 300px;
width: 300px;
margin: auto;
}

/* **********************************************************  */

#kis07{
display: flex;
margin-right: -200px;
padding-right: -100px;
border-radius: 10px;
}
.image {
    width: 40px;
    height: 40px;
    padding: 2%; 
    margin-left: 30px;
    border-radius: 100%;
    /* padding-left: 20px; */
}
.image1 {
    width: 65px;
    height: 65px;
    padding: 2%; 
    margin-top: -11px;
    margin-left: 620px;
    border-radius: 100%;
    
}

 
