body{
    background-color:#272829 ;
}
#kis0{
    /* border: 1px solid orange; */
    height: 635px;
    width: 1380px;
    background-color:  #272829;
}
#kis1{
    padding-top: 50px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#kis3{
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
}
#kis4{
display: grid;
width: 450px;
row-gap: 15px;
margin-left: 500px;
color: white;

}
input{
height: 39px;
border: 1px solid rgb(79, 77, 77);
background-color:  #272829;
/* color: aliceblue; */
color: white;
border-radius: 3px;



}
#submit{
background-color: red;
border: none;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
font-family: sans-serif;
margin-top: 15px;
}
#kis6{
text-align: center;
color: white;

}
#kis5{
    margin-top: 30px;
}
