* {
  margin: 0px;
  /* padding: 0px; */
  box-sizing: border-box;
}
footer {
  height: auto;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
}
#footer_logo {
  /* border: 1px solid red; */
  width: 35%;
  margin-left: 30px;
}

#footer_div1 {
  width: 100%;
  display: flex;
  gap: 70px;
  text-decoration: none;
  margin: auto;
  color: white;
  padding: 50px 0;
}
ul {
  list-style: none;
}

#footer_div1 ul {
  margin-top: 20px;
}

#footer_div1 ul li {
  margin-top: 10px;
  cursor: pointer;
  color: rgb(209, 209, 209);
}
#footer_logo_img {
  /* border: 1px solid rgb(106, 255, 0); */
  height: 40px;
  display: flex;
  width: 300px;
}
#footer_logo_img img {
  width: 25%;
}
#footer_div1 p {
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 10px;
}

#input_div {
  margin-top: 15px;
  position: relative;
  display: flex;
}
#input_div input {
  width: 35rem;
  border-radius: 5px;
  padding: 18px;
  border: 1px solid gray;
  transition: all 0.2s linear;
  background-color: black;
}
.button {
  background-color: rgb(255, 0, 0);
  width: 200px;
  color: white;
  padding: 16px;
  border-radius: 8px;
  position: absolute;
  display: grid;
  place-items: center;
  right: 0rem;
  margin-top: 1px;
  cursor: pointer;
}

#footer_icon1 {
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
}
#footer_icon1 a {
  /* border: 1px solid rgb(255, 255, 255); */
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 250, 250);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  /* margin: 10px; */
  position: relative;
}
#footer_icon1 a .fa {
  font-size: 20px;
  line-height: 50px;
  position: relative;
  z-index: 10;
}
#footer_icon1 a::after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: -90;
  left: 0;
  background: linear-gradient(-45deg, #ffffff);
  position: relative;
  transition: 0.5s;
}

#footer_div2 {
  display: flex;
  justify-content: space-around;
  gap: 0px;
  align-items: center;
  /* border: 1px solid blue; */
  padding: 20px;
}

#footer_smallDiv {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  /* border: 1px solid yellow; */
  cursor: pointer;
  margin-left: -200px;
}
#footer_image {
  /* border: 1px solid yellow; */
  margin-left: -150px;
}

#footer_div2 h3 {
  color: white;
  font-size: 15px;
}
#footer_div3 {
  color: white;
  text-align: center;
  padding: 50px;
  /* border: 1px solid yellow; */
  margin-top: -10px;
}
#footer_div3 p {
  margin-top: -20px;
}
